$jalepeno: #B4D44F;
$orange: #F79549;
$ginger: #F3D531;
$espresso: #C79B80;
$wildberry: #D481B6;

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    margin: 15px 0px;
}

h2 {
    font-size: 1.8rem;
}

.entry-header {
    text-align: center;
}

.home {
    .entry-title {
        display: none;
    }

    /*     header {
            position: absolute;
            z-index: 100;
        } */

    .logo {
        animation: fadeIn 4s;
    }
}

.slide-up {
    animation: slideInUp 3s;
}

header {
    position: static;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;

    .logo {
        width: 220px;
        margin: auto;
        padding: 30px 0 0px 0;

        svg {
            width: 100%;
        }
    }
}

.nav-bar {
    width: 100%;
    height: 75px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1270439/strip.png);
    background-size: fixed;
    background-repeat: repeat-x;
    background-position: top;

    ul {
        width: 100%;
        list-style: none;
        height: 50px;
        margin-top: 38px;
        padding: 0;
        margin-bottom: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;

        @include breakpoint(small only) {
            display: none;
        }


        li {
            display: inline-block;

            a {
                padding: 19px 18px 11px 18px;
                color: #333;
                transition: .4s all;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.75);
                    color: #a25486;
                    transition: .4s all;
                }
            }
        }
    }
}

/* Mobile Menu */

.mobile-menu {
    background: none;
    display: none;
    position: absolute;
    top: 171px;
    text-align: center;
    width: 100%;
    z-index: 1000;

    @include breakpoint(small only) {
        display: block;
    }


    .dropdown-link {
        display: inline-block;
        color: #333;
        font-size: 1.8rem;
        cursor: pointer;
        padding-bottom: 2px;
        padding-top: 2px;
    }

    .menu {
        list-style-type: none;
        background: #a25486;
        padding: 0;
        min-width: 125px;
        z-index: 100;
        margin: 0;

        .menu-item {
            display: block;
            line-height: 57px;
            border-bottom: 2px solid #fff;
        }

        li {
            display: block;
            line-height: 57px;
            border-bottom: 2px solid #fff;

            a {
                display: block;
                height: 100%;
                width: 100%;
                color: #fff;
            }
        }
    }
}

.menu-wrapper {
    height: 0;
    overflow: hidden;

    /* opacity:0; */
    transition: 1s all;

    &.open {
        height: 400px;

        /* opacity:1; */
        transition: 1s all;
    }
}

.slider-wrapper {
    position: relative;
    width: 100%;
    height: 550px;

    @include breakpoint(medium only) {
        height: 300px;
    }


    @include breakpoint(small only) {
        height: 250px;
    }


    .slider {
        height: 100%;
        width: 100%;
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1270439/jalepeno_gradient.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .arrow {
            position: absolute;
            left: 0;
            bottom: 10px;
            right: 0;
            width: 50px;
            margin: auto;

            svg {
                .cls-1 {
                    fill: #333;
                }
            }
        }
    }
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;

    .content {
        text-align: center;

        h1 {
            margin-bottom: 0px;
        }

        h2 {
            margin-top: 0px;
        }
    }
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.hero {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include breakpoint(small only) {
        height: 200px;
    }


    .hero-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
}

.footer {
    margin-top: 30px;
    width: 100%;
    height: 90px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1270439/strip.png);
    background-size: fixed;
    background-repeat: repeat-x;
    background-position: top;

    .copyright {
        padding-top: 34px;
        text-align: center;
        width: 100%;
    }
}

/* Gallery Styles */

#gallery-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-36 #gallery-1 .gallery-item {
    width: 305px;
    padding: 30px;
}

#gallery-1 .gallery-item img {
    min-height: 200px;
    width: auto;
    border: none;
}

.recipe-menu {
    width: 100%;
    height: 80px;
    background-color: #eeeeeef2;
    position: fixed;
    top: 0px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0px 22px;
        display: inline-block;
        transition: .4s all;

        &:hover {
            width: 75px;
            height: 75px;
            transition: .4s all;
        }

        &.jalepeno {
            background: url("/wp-content/uploads/2018/06/jalepeno.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        &.orange {
            width: 60px;
            height: 60px;
            background: url("/wp-content/uploads/2018/06/orange_spice.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            &:hover {
                width: 85px;
                height: 85px;
            }
        }

        &.ginger {
            background: url("/wp-content/uploads/2018/06/ginger.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        &.espresso {
            background: url("/wp-content/uploads/2018/06/espresso.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        &.wildberry {
            background: url("/wp-content/uploads/2018/06/wildberry.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

/* Recipe Cards */
.swiper-container {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 5px solid #c9c9c9;
}

.swiper-slide {
    width: 350px;
    height: 425px;
    position: relative;
    background-color: #e8e8e8;
    -webkit-box-shadow: 0px 0px 40px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 40px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 40px -6px rgba(0, 0, 0, 0.75);

    /*     @include breakpoint(small only) {
            width: 250px;
            height: 250px;
        } */
}

.swiper-content {
    width: 100%;
    height: 100%;
}

.recipe-image {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1270439/Fresh-Lime-and-Jalapeno-Margarita-Fed-Fit-2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 220px;
}

.swiper-content {
    position: relative;
    list-style: none;
    margin: 0;
    width: auto;
    height: auto;
    padding: 20px;
    color: #333;

    li {
        font-size: 1rem;
        line-height: 25px;
    }

    h2 {
        margin: 0px;
    }

    .recipe-name {
        font-size: 1.5rem;
        margin-bottom: 8px;
    }
}

.recipe-icon {
    border: 15px solid #fff;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -45px;
    right: 20px;
}

.recipe-footer {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
}

.jalepeno {
    &.swiper-container {
        background: url("/wp-content/uploads/2018/07/jalepeno-background-dark.jpg");
        background-size: cover;
        background-position: center;
    }

    .recipe-icon {
        background: url("/wp-content/uploads/2018/06/jalepeno.png");
        background-size: contain;
        background-position: center;
        background-color: #fff;
        background-repeat: no-repeat;
    }

    .recipe-footer {
        background-color: $jalepeno;
    }
}

.orange {
    &.swiper-container {
        background: url("/wp-content/uploads/2018/07/orange-background-dark.jpg");
        background-size: cover;
        background-position: top center;
    }

    .recipe-icon {
        background: url("/wp-content/uploads/2018/06/orange_spice.png");
        background-size: contain;
        background-position: center;
        background-color: #fff;
        background-repeat: no-repeat;
    }

    .recipe-footer {
        background-color: $orange;
    }
}

.ginger {
    &.swiper-container {
        background: url("/wp-content/uploads/2018/07/ginger-background.jpg");
        background-size: cover;
        background-position: bottom;
    }

    .recipe-icon {
        background: url("/wp-content/uploads/2018/06/ginger.png");
        background-size: contain;
        background-position: center;
        background-color: #fff;
        background-repeat: no-repeat;
    }

    .recipe-footer {
        background-color: $ginger;
    }
}

.espresso {
    &.swiper-container {
        background: url("/wp-content/uploads/2018/07/ginger-background.jpg");
        background-size: cover;
        background-position: bottom;
    }

    .recipe-icon {
        background: url("/wp-content/uploads/2018/06/espresso.png");
        background-size: contain;
        background-position: center;
        background-color: #fff;
        background-repeat: no-repeat;
    }

    .recipe-footer {
        background-color: $espresso;
    }
}

.wildberry {
    &.swiper-container {
        background: url("/wp-content/uploads/2018/07/ginger-background.jpg");
        background-size: cover;
        background-position: bottom;
    }

    .recipe-icon {
        background: url("/wp-content/uploads/2018/06/wildberry.png");
        background-size: contain;
        background-position: center;
        background-color: #fff;
        background-repeat: no-repeat;
    }

    .recipe-footer {
        background-color: $wildberry;
    }
}

/* Temporary Slider Styles */
/* 
.slider iframe {
    width: 100%;
    height: 600px;
}

.slider-wrapper {
    height: 600px;
}

.slider {
    height: 600px;
}

@media (max-width: 400px) {
    .slider iframe {
        width: 100%;
        height: 200px;
    }

    .slider-wrapper {
        height: 200px;
    }

    .slider {
        height: 200px;
    }
} */