body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}

h2 {
    font-size: 1.8rem;
}

.home {
    .entry-title {
        display: none;
    }

    header {
        position: absolute;
        z-index: 100;
    }

    .logo {
        animation: fadeIn 4s;
    }
}

.slide-up {
    animation: slideInUp 3s;
}

header {
    position: static;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;

    .logo {
        width: 220px;
        margin: auto;
        padding: 30px 0 0px 0;

        svg {
            width: 100%;
        }
    }
}

.nav-bar {
    width: 100%;
    height: 90px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1270439/strip.png);
    background-size: fixed;
    background-repeat: no-repeat;
    background-position: top;

    ul {
        width: 100%;
        list-style: none;
        padding: 0;
        text-align: center;
        line-height: 82px;
        font-size: 1.2rem;
        font-weight: 600;

        @include breakpoint(small only) {
            display: none;
        }


        li {
            display: inline-block;
        }
    }
}

/* Mobile Menu */

.mobile-menu {
    background: none;
    display: none;
    position: absolute;
    top: 179px;
    text-align: center;
    width: 100%;
    height: 90px;
    z-index: 1000;

    @include breakpoint(small only) {
        display: block;
    }


    .dropdown-link {
        display: inline-block;
        color: #333;
        font-size: 2rem;
        cursor: pointer;
        padding-bottom: 8px;
    }

    .menu {
        ul {
            list-style-type: none;
            background: #fff;
            opacity: .8;
            padding: 0;
            min-width: 125px;
            z-index: 100;
            margin: 0;

            li {
                display: block;
                line-height: 70px;
                border-bottom: 2px solid #333;

                a {
                    display: block;
                    height: 100%;
                    width: 100%;
                    color: #333;
                }
            }
        }
    }
}

.menu-wrapper {
    height: 0;
    overflow: hidden;

    /* opacity:0; */
    transition: 1s all;

    &.open {
        height: 400px;

        /* opacity:1; */
        transition: 1s all;
    }
}

.slider-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;

    .slider {
        height: 100%;
        width: 100%;
        background-color: lightgray;

        .arrow {
            position: absolute;
            left: 0;
            bottom: 10px;
            right: 0;
            width: 50px;
            margin: auto;
        }
    }
}

.container {
    max-width: 940px;
    margin: auto;
    padding: 0 20px;

    .content {
        text-align: center;

        h1 {
            margin-bottom: 0px;
        }

        h2 {
            margin-top: 0px;
        }
    }
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.hero {
    width: 100%;
    height: 250px;
    background-color: lightgray;
}

.footer {
    margin-top: 30px;
    width: 100%;
    height: 90px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1270439/strip.png);
    background-size: fixed;
    background-repeat: no-repeat;
    background-position: top;

    .copyright {
        padding-top: 34px;
        text-align: center;
        width: 100%;
    }
}