$jalepeno: #B4D44F;
$orange: #F79549;
$ginger: #F3D531;
$espresso: #C79B80;
$wildberry: #D481B6;

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    color: darken($jalepeno, 20%);
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    margin: 15px 0px;

    @include breakpoint(small only) {
        font-size: 2rem;
    }
}

h2 {
    font-size: 1.8rem;

    @include breakpoint(small only) {
        font-size: 1rem;
    }
}

.asterisk {
    font-size: .8rem;
}

.entry-header {
    text-align: center;
}

.home {
    .entry-title {
        display: none;
    }

    /*     header {
            position: absolute;
            z-index: 100;
        } */
    .logo {
        animation: fadeIn 4s;
    }
}

.slide-up {
    animation: slideInUp 3s;
}

header {
    position: static;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;

    .logo {
        width: 220px;
        margin: auto;
        padding: 30px 0 0px 0;

        svg {
            width: 100%;
        }
    }
}

.nav-bar {
    margin-top: 20px;

    ul {
        background-color: $jalepeno;
        width: 100%;
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        margin-top: 0;
        text-align: center;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            @include breakpoint(small only) {
                display: none;
            }


            a {
                color: #333;
                text-transform: uppercase;
                font-size: 1rem;
                -webkit-transition: .4s all;
                transition: .4s all;
                display: flex;
                padding: 10px 20px;
                border-top: 3px solid $jalepeno;
                border-bottom: 3px solid $jalepeno;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.75);
                    color: $wildberry;
                    border-bottom: 3px solid $wildberry;
                    border-top: 3px solid rgb(236, 245, 213);
                    transition: .4s all;
                }
            }
        }
    }

    .current-menu-item {
        a {
            color: #a25486;
        }
    }
}

/* Mobile Menu */

.mobile-menu {
    background: $jalepeno;
    display: none;
    text-align: center;
    width: 100%;

    @include breakpoint(small only) {
        display: block;
    }


    /*     .dropdown-link {
            display: inline-block;
            color: #333;
            font-size: 1.8rem;
            cursor: pointer;
            padding-bottom: 2px;
            padding-top: 2px;
        } */

    /*  */
    .menu {
        list-style-type: none;
        background: #a25486;
        padding: 0;
        min-width: 125px;
        z-index: 100;
        margin: 0;

        .menu-item {
            display: block;
            line-height: 57px;
            border-bottom: 2px solid #fff;
        }

        li {
            display: block;
            line-height: 57px;
            border-bottom: 2px solid #fff;

            a {
                display: block;
                height: 100%;
                width: 100%;
                color: #fff;
            }
        }
    }
}

/* Hamburger Styles */
$height-icon: 20px;
$width-line: 35px;
$height-line: 5px;

$transition-time: 0.4s;
$rotation: 45deg;
$translateY: $height-icon / 2;
$translateX: 0;

.hamburger-wrapper {
    height: 30px;
    display: flex;
    padding-top: 5px;
    padding-bottom: 10px;
}

.hamburger-icon {
    width: $width-line;
    height: $height-icon;
    margin: auto;
    position: relative;
    display: block;

    .line {
        display: block;
        background: #333;
        width: $width-line;
        height: $height-line;
        position: absolute;
        left: 0;
        border-radius: $height-line / 2;
        transition: all $transition-time;
        -webkit-transition: all $transition-time;
        -moz-transition: all $transition-time;

        &.line-1 {
            top: 0;
        }

        &.line-2 {
            top: 50%;
        }

        &.line-3 {
            top: 100%;
        }
    }

    &:hover {
        .line-1 {
            transform: translateY($height-line / 2 * -1);
            -webkit-transform: translateY($height-line / 2 * -1);
            -moz-transform: translateY($height-line / 2 * -1);
        }

        .line-3 {
            transform: translateY($height-line / 2);
            -webkit-transform: translateY($height-line / 2);
            -moz-transform: translateY($height-line / 2);
        }
    }

    &.active {
        .line-1 {
            transform: translateY($translateY) translateX($translateX) rotate($rotation);
            -webkit-transform: translateY($translateY) translateX($translateX) rotate($rotation);
            -moz-transform: translateY($translateY) translateX($translateX) rotate($rotation);
        }

        .line-2 {
            opacity: 0;
        }

        .line-3 {
            transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
            -webkit-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
            -moz-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
        }
    }
}

.menu-wrapper {
    height: 0;
    overflow: hidden;

    /* opacity:0; */
    transition: 1s all;

    &.open {
        height: 236px;

        /* opacity:1; */
        transition: 1s all;
    }
}

.slider-wrapper {
    width: 100%;
    height: auto;

    /*     @include breakpoint(medium only) {
            height: 300px;
        }
    
    
        @include breakpoint(small only) {
            height: 250px;
        } */

    .slider {
        position: relative;
        height: 100%;
        width: 100%;

        /*         background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1270439/jalepeno_gradient.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat; */

        .arrow {
            position: absolute;
            left: 0;
            bottom: 10px;
            right: 0;
            width: 50px;
            margin: auto;

            svg {
                .cls-1 {
                    fill: #fff;
                }
            }
        }
    }
}

div#n2-ss-2 .n2-ss-layer .n2-font-b337fd93eaa0094d11d6acc871468b6d-hover {
    border: none;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;

    .content {
        text-align: center;

        h1 {
            margin-bottom: 0px;
        }

        h2 {
            margin-top: 0px;
        }
    }
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.hero {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include breakpoint(small only) {
        height: 200px;
    }


    .hero-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
}

/* Footer */

.footer {
    margin-top: 30px;
    width: 100%;
    height: 90px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1270439/strip.png);
    background-size: fixed;
    background-repeat: repeat-x;
    background-position: top;

    .container {
        position: relative;
    }

    .copyright {
        padding-top: 34px;
        text-align: center;
        width: 100%;
    }

    .social-icons {
        position: absolute;
        bottom: -10px;
        right: 20px;

        @include breakpoint(small only) {
            bottom: 0px;
            top: -20px;
            right: 0px;
            left: 0px;
            text-align: center;
        }


        svg {
            width: 35px;
            margin-left: 5px;

            &:hover path {
                fill: $wildberry;
                transition: .4s all;
            }

            path {
                fill: #333;
                transition: .4s all;
            }
        }
    }
}

/* Gallery Styles */

#gallery-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: fadeIn 3s;
}

.post-36 #gallery-2 .gallery-item {
    width: 305px;
    padding: 30px;
}

#gallery-2 .gallery-item img {
    min-height: 200px;
    width: auto;
    border: none;
}

.recipe-menu {
    width: 100%;
    height: auto;
    background-color: #eeeeeef2;
    position: fixed;
    padding: 5px;
    top: 0px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint(small only) {
        padding: 0px;
    }


    a {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        margin: 0px 25px;
        display: inline-block;
        transition: .4s all;

        @include breakpoint(small only) {
            margin: 0px 15px;
            height: 60px;
            width: 60px;
        }


        &:hover {
            width: 85px;
            height: 85px;
            transition: .4s all;

            @include breakpoint(small only) {
                height: 60px;
                width: 60px;
            }
        }

        &.jalepeno {
            background: url("/wp-content/uploads/2018/06/jalepeno.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        &.orange {
            width: 85px;
            height: 85px;
            background: url("/wp-content/uploads/2018/06/orange_spice.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            @include breakpoint(small only) {
                height: 70px;
                width: 70px;
            }


            &:hover {
                width: 95px;
                height: 95px;

                @include breakpoint(small only) {
                    height: 70px;
                    width: 70px;
                }
            }
        }

        &.ginger {
            background: url("/wp-content/uploads/2018/06/ginger.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        &.espresso {
            background: url("/wp-content/uploads/2018/06/espresso.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        &.wildberry {
            background: url("/wp-content/uploads/2018/06/wildberry.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

/* Recipe Cards */

.swiper-container {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 5px solid #c9c9c9;
    animation: fadeIn 3s;

    @include breakpoint(small only) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.swiper-slide {
    width: 350px;
    height: 425px;
    position: relative;
    background-color: #e8e8e8;
    -webkit-box-shadow: 0px 0px 40px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 40px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 40px -6px rgba(0, 0, 0, 0.75);

    /*     @include breakpoint(small only) {
            width: 250px;
            height: 250px;
        } */
}

.swiper-content {
    width: 100%;
    height: 100%;
}

.recipe-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 220px;
}

.swiper-content {
    position: relative;
    list-style: none;
    margin: 0;
    width: auto;
    height: auto;
    padding: 20px;
    color: #333;

    li {
        font-size: 1rem;
        line-height: 25px;
    }

    h2 {
        margin: 0px;
    }

    .recipe-name {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 8px;
    }
}

.recipe-icon {
    border: 10px solid #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -38px;
    right: 20px;
}

.recipe-content {
    padding: 0;
    list-style: none;
    margin: 0;
}

.recipe-footer {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
}

.jalepeno {
    &.swiper-container {
        background: url("/wp-content/uploads/2018/07/jalepeno-background-dark.jpg");
        background-size: cover;
        background-position: center;
    }

    .recipe-icon {
        background: url("/wp-content/uploads/2018/06/jalepeno.png");
        background-size: contain;
        background-position: center;
        background-color: #fff;
        background-repeat: no-repeat;
    }

    .recipe-footer {
        background-color: $jalepeno;
    }

    .recipe-name {
        color: darken($jalepeno, 20%);
    }
}

.orange {
    &.swiper-container {
        background: url("/wp-content/uploads/2018/07/orange-background-dark.jpg");
        background-size: cover;
        background-position: top center;
    }

    .recipe-icon {
        background: url("/wp-content/uploads/2018/06/orange_spice.png");
        background-size: contain;
        background-position: center;
        background-color: #fff;
        background-repeat: no-repeat;
    }

    .recipe-footer {
        background-color: $orange;
    }

    .recipe-name {
        color: darken($orange, 20%);
    }
}

.ginger {
    &.swiper-container {
        background: url("/wp-content/uploads/2018/07/ginger-background.jpg");
        background-size: cover;
        background-position: bottom;
    }

    .recipe-icon {
        background: url("/wp-content/uploads/2018/06/ginger.png");
        background-size: contain;
        background-position: center;
        background-color: #fff;
        background-repeat: no-repeat;
    }

    .recipe-footer {
        background-color: $ginger;
    }

    .recipe-name {
        color: darken($ginger, 20%);
    }
}

.espresso {
    &.swiper-container {
        background: url("/wp-content/uploads/2018/08/espresso-background-dark.jpg");
        background-size: cover;
        background-position: bottom;
    }

    .recipe-icon {
        background: url("/wp-content/uploads/2018/06/espresso.png");
        background-size: contain;
        background-position: center;
        background-color: #fff;
        background-repeat: no-repeat;
    }

    .recipe-footer {
        background-color: $espresso;
    }

    .recipe-name {
        color: darken($espresso, 20%);
    }
}

.wildberry {
    &.swiper-container {
        background: url("/wp-content/uploads/2018/08/berry-background-dark.jpg");
        background-size: cover;
        background-position: bottom;
    }

    .recipe-icon {
        background: url("/wp-content/uploads/2018/06/wildberry.png");
        background-size: contain;
        background-position: center;
        background-color: #fff;
        background-repeat: no-repeat;
    }

    .recipe-footer {
        background-color: $wildberry;
    }

    .recipe-name {
        color: darken($wildberry, 20%);
    }
}

/* Contact Page */

.contact {
    &.container {
        display: flex;
        margin-top: 20px;

        @include breakpoint(medium down) {
            flex-direction: column;
        }
    }

    .column {
        width: 50%;
        display: inline-block;
        padding: 20px;

        @include breakpoint(medium down) {
            width: 100%;
            padding: 0px;
        }
    }

    .contact-image {
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
        border: 5px solid $jalepeno;
    }
}

.contact-info {
    text-align: center;
    margin: 20px 0;

    p {
        margin: 10px;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

/*Form Styles*/

.nf-field-element input {
    height: 40px !important;
}

.background {
    background-color: lightgray;
    padding: 30px;
    padding-bottom: 5px;

    @include breakpoint(medium down) {
        margin-bottom: 20px;
    }
}

span#nf-form-title-2 {
    display: none;
}

.nf-form-fields-required {
    display: none;
}

/* .nf-field-container {
    margin-bottom: 20px !important;
} */

.label-above .nf-field-label {
    margin-bottom: 5px;
}

.nf-field-label label {
    display: none;
}

input#nf-field-10 {
    width: 130px;
    background-color: $wildberry;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    transition: .4s all;
    cursor: pointer;

    &:hover {
        background-color: darken($wildberry, 20%);
        transition: .4s all;
    }
}

div#nf-field-5-container {
    width: 100% !important;
    padding-right: 0 !important;
    height: 40px !important;
}

div#nf-field-9-container {
    padding-left: 0 !important;
    width: 100% !important;
}

.nf-field-element input, textarea#nf-field-9 {
    font-size: .9rem;
    padding-left: 5px;
    font-weight: 700;
}

textarea#nf-field-9 {
    padding-top: 5px;
}

@media (min-width: 630px) {
    div#nf-field-9-container {
        display: inline-block;
        width: 50%;
        padding-left: 10px;
    }

    div#nf-field-5-container {
        display: inline-block;
        width: 50%;
        padding-right: 10px;
        float: left;
    }
}

/* Temporary Slider Styles */

/* 
.slider iframe {
    width: 100%;
    height: 600px;
}

.slider-wrapper {
    height: 600px;
}

.slider {
    height: 600px;
}

@media (max-width: 400px) {
    .slider iframe {
        width: 100%;
        height: 200px;
    }

    .slider-wrapper {
        height: 200px;
    }

    .slider {
        height: 200px;
    }
} */